@charset 'utf-8';
#WSeaG6gm {
  background: var(--blue);
  color: white;
  text-align: center;
}
#rsru9Qiq {
  font-size: 4rem;
  margin: 0;
  padding: 1rem 0;
}
#QYyfjOYY {
  font-size: 2rem;
  margin: 0;
}
#gFJqmDdp {
  margin: 0;
  padding: 1rem 0;
}
