@charset "utf-8";
:root {
	--lightred: rgb(255, 63, 63);
	--red: rgb(191, 63, 63);
	--darkred: rgb(127, 63, 63);
	
	--lightgreen: rgb(63, 255, 63);
	--green: rgb(63, 191, 63);
	--darkgreen: rgb(63, 127, 63);
	
	--lightblue: rgb(63, 63, 255);
	--blue: rgb(63, 63, 191);
	--darkblue: rgb(63, 63, 127);
	
	--lightmagenta: rgb(255, 63, 255);
	--magenta: rgb(191, 63, 191);
	--darkmagenta: rgb(127, 63, 127);
	
	--lightyellow: rgb(255, 255, 63);
	--yellow: rgb(191, 191, 63);
	--darkyellow: rgb(127, 127, 63);
	
	--lightcyan: rgb(63, 255, 255);
	--cyan: rgb(63, 191, 191);
	--darkcyan: rgb(63, 127, 127);
	
	--lightgray: rgb(191, 191, 191);
	--gray: rgb(127, 127, 127);
	--darkgray: rgb(63, 63, 63);
}
