@charset "utf-8";
:root {
	--darkgray: rgb(63, 63, 63);
	--gray: rgb(127, 127, 127);
	--lightgray: rgb(191, 191, 191);
	--red: rgb(255, 63, 127);
	--green: rgb(127, 255, 63);
	--blue: rgb(63, 127, 255);
}
html {
	font: 10px serif;
	user-select: none;
}
body {
	margin: 0 auto;
	max-width: 51.2rem;
}
/** header */
#byGCb13G {
	align-items: center;
	display: flex;
	justify-content: center;
	margin: 1rem;
	text-decoration: none;
}
#Oj1DovqO {
	display: block;
	max-width: 100%;
}
/** Breadcrumbs */
#YFoSPTA3 {
	display: flex;
	margin: 1rem;
	overflow-x: scroll;
	padding: 0;
}
#YFoSPTA3::-webkit-scrollbar {
	height: 0.5rem;
}
#YFoSPTA3::-webkit-scrollbar-thumb {
	background: var(--lightgray);
	border-radius: 0.25rem;
	box-shadow: inset 0 0 0.25rem var(--darkgray);
}
#YFoSPTA3::-webkit-scrollbar-track {
	background: var(--darkgray);
	border-radius: 0.25rem;
	box-shadow: inset 0 0 0.25rem var(--lightgray);
}
.q6kpK1jH {
	list-style: none;
	padding: 0.5rem;
}
.q6kpK1jH:not(:first-child) {
	padding-left: 0;
}
.q6kpK1jH:not(:first-child)::before {
	content: "/";
	padding-right: 0.5rem;
}
.tvSFfqLi {
	list-style: none;
	padding: 0.5rem;
	padding-left: 0;
}
.tvSFfqLi::before {
	content: ">";
	padding-right: 0.5rem;
}
.TnBfB6P0 {
	color: black;
	text-decoration: none;
}
.Ep6gOPeS {
	white-space: nowrap;
}
/** Search Form */
#Yzqv6tkI {
	display: flex;
	margin: 0 1rem;
}
#mWYXHFlu {
	border: solid 0.1rem var(--darkgray);
	border-radius: 0.5rem;
	box-sizing: border-box;
	display: block;
	font: inherit;
	height: 2rem;
	margin-right: 1rem;
	outline: 0;
	padding: 0.5rem;
	width: 100%;
}
#SYaLdKxJ {
	background: var(--darkgray);
	border: 0;
	border-radius: 0.5rem;
	box-sizing: border-box;
	color: white;
	cursor: pointer;
	display: block;
	font: inherit;
	height: 2rem;
	outline: 0;
	padding: 0;
	width: 4rem;
}
/** main */
#FE9UGRQR {
}
/** Main Page & Search Page */
#c6JO6k62 {
	display: flex;
	flex-wrap: wrap;
	margin: 0.5rem;
}
/** Article Page & 404 Page */
#WSeaG6gm {
	margin: 1rem;
}
/** Contents Item */
.W1JhWxuv {
	width: 50%;
}
.TVOxHpZ9 {
	border-radius: 1rem;
	color: inherit;
	display: block;
	padding: 1rem;
	margin: 0.5rem;
	text-decoration: none;
}
.TVOxHpZ9[category = "article"] {
	border: solid 0.1rem var(--red);
}
.TVOxHpZ9[category = "content"] {
	border: solid 0.1rem var(--green);
}
.TVOxHpZ9[category = "service"] {
	border: solid 0.1rem var(--blue);
}
.TVOxHpZ9[category = "other"] {
	border: solid 0.1rem var(--gray);
}
.eFcynxxU {
	font-weight: normal;
	margin: 0;
	margin-bottom: 1rem;
	overflow: hidden;
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.WaWu7Va9 {
	display: block;
	width: 100%;
}
/** Footer */
#HbKXoZ1j {
	background: var(--darkgray);
	padding: 1rem;
}
#EHsQtYhc {
	align-items: flex-start;
	border: solid 0.1rem var(--blue);
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0;
	padding: 0.5rem;
}
.BVmm1S8a {
	list-style: none;
	margin: 0.5rem;
}
.zmeCqtaf {
	margin: 0;
	padding: 0;
}
.B8bMFMni {
	list-style: none;
}
.B8bMFMni:first-child {
	border-bottom: solid 0.1rem lightgray;
	text-align: center;
}
.B8bMFMni:not(:first-child) {
	margin-top: 0.5rem;
}
.bjIdUiG9 {
	align-items: center;
	color: white;
	display: flex;
	text-decoration: none;
}
.bjIdUiG9::before, .bjIdUiG9::after {
	content: "";
	display: inline-block;
	width: 1rem;
}
.bjIdUiG9:hover {
	color: black;
	background: var(--lightgray);
}
:not(.bjIdUiG9) > .RXXkMLos {
	color: white;
}
.O9t87lx5 {
	height: 1rem;
	margin-right: 0.5rem;
}
#c3D2IM0s {
	align-items: center;
	background: white;
	display: flex;
	font-size: 1rem;
	justify-content: center;
	margin: 2rem 0;
	text-align: center;
}
/** Loading Dialog */
#MsDGo7Eg {
	align-items: center;
	background: black;
	display: flex;
	height: 100%;
	justify-content: center;
	left: 0;
	opacity: 0.5;
	position: fixed;
	top: 0;
	width: 100%;
}
#m7eOG5wP {
	width: 2rem;
	height: 2rem;
	border-radius: 1rem;
	animation: loading 1s infinite ease;
}
@keyframes loading {
	0%, 100% {
		box-shadow: 0 4rem 0 0 white,
		            2.82rem 2.82rem 0 0 var(--lightgray),
		            4rem 0 0 0 var(--gray),
		            2.82rem -2.82rem 0 0 var(--darkgray),
		            0 -4rem 0 0 var(--darkgray),
		            -2.82rem -2.82rem 0 0 var(--darkgray),
		            -4rem 0 0 0 var(--darkgray),
		            -2.82rem 2.82rem 0 0 var(--darkgray);
	}
	12.5% {
		box-shadow: 0 4rem 0 0 var(--darkgray),
		            2.82rem 2.82rem 0 0 white,
		            4rem 0 0 0 var(--lightgray),
		            2.82rem -2.82rem 0 0 var(--gray),
		            0 -4rem 0 0 var(--darkgray),
		            -2.82rem -2.82rem 0 0 var(--darkgray),
		            -4rem 0 0 0 var(--darkgray),
		            -2.82rem 2.82rem 0 0 var(--darkgray);
	}
	25% {
		box-shadow: 0 4rem 0 0 var(--darkgray),
		            2.82rem 2.82rem 0 0 var(--darkgray),
		            4rem 0 0 0 white,
		            2.82rem -2.82rem 0 0 var(--lightgray),
		            0 -4rem 0 0 var(--gray),
		            -2.82rem -2.82rem 0 0 var(--darkgray),
		            -4rem 0 0 0 var(--darkgray),
		            -2.82rem 2.82rem 0 0 var(--darkgray);
	}
	37.5% {
		box-shadow: 0 4rem 0 0 var(--darkgray),
		            2.82rem 2.82rem 0 0 var(--darkgray),
		            4rem 0 0 0 var(--darkgray),
		            2.82rem -2.82rem 0 0 white,
		            0 -4rem 0 0 var(--lightgray),
		            -2.82rem -2.82rem 0 0 var(--gray),
		            -4rem 0 0 0 var(--darkgray),
		            -2.82rem 2.82rem 0 0 var(--darkgray);
	}
	50% {
		box-shadow: 0 4rem 0 0 var(--darkgray),
		            2.82rem 2.82rem 0 0 var(--darkgray),
		            4rem 0 0 0 var(--darkgray),
		            2.82rem -2.82rem 0 0 var(--darkgray),
		            0 -4rem 0 0 white,
		            -2.82rem -2.82rem 0 0 var(--lightgray),
		            -4rem 0 0 0 var(--gray),
		            -2.82rem 2.82rem 0 0 var(--darkgray);
	}
	62.5% {
		box-shadow: 0 4rem 0 0 var(--darkgray),
		            2.82rem 2.82rem 0 0 var(--darkgray),
		            4rem 0 0 0 var(--darkgray),
		            2.82rem -2.82rem 0 0 var(--darkgray),
		            0 -4rem 0 0 var(--darkgray),
		            -2.82rem -2.82rem 0 0 white,
		            -4rem 0 0 0 var(--lightgray),
		            -2.82rem 2.82rem 0 0 var(--gray);
	}
	75% {
		box-shadow: 0 4rem 0 0 var(--gray),
		            2.82rem 2.82rem 0 0 var(--darkgray),
		            4rem 0 0 0 var(--darkgray),
		            2.82rem -2.82rem 0 0 var(--darkgray),
		            0 -4rem 0 0 var(--darkgray),
		            -2.82rem -2.82rem 0 0 var(--darkgray),
		            -4rem 0 0 0 white,
		            -2.82rem 2.82rem 0 0 var(--lightgray);
	}
	87.5% {
		box-shadow: 0 4rem 0 0 var(--lightgray),
		            2.82rem 2.82rem 0 0 var(--gray),
		            4rem 0 0 0 var(--darkgray),
		            2.82rem -2.82rem 0 0 var(--darkgray),
		            0 -4rem 0 0 var(--darkgray),
		            -2.82rem -2.82rem 0 0 var(--darkgray),
		            -4rem 0 0 0 var(--darkgray),
		            -2.82rem 2.82rem 0 0 white;
	}
}
@media screen and (min-width: 1024px) {
	html {
		font-size: 20px;
	}
	/** Header */
	#Zh6Jspc7 {
		display: grid;
		grid-template-columns: 1fr auto;
		grid-template-rows: auto auto;
		grid-template-areas: "byGCb13G Yzqv6tkI"
		                     "YFoSPTA3 YFoSPTA3";
	}
	#byGCb13G {
		grid-area: byGCb13G;
		margin: 0;
	}
	#Oj1DovqO {
		max-height: 2rem;
	}
	/** Breadcrumbs */
	#YFoSPTA3 {
		grid-area: YFoSPTA3;
		margin: 0 1rem;
	}
	/** Search Form */
	#Yzqv6tkI {
		grid-area: Yzqv6tkI;
		margin: 1rem;
	}
	#mWYXHFlu {
		margin: 0;
		width: 20rem;
	}
	#SYaLdKxJ {
		display: none;
	}
	/** Contents Item */
	.W1JhWxuv {
		width: 25%;
	}
}
